.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-group-item {
  padding: 9px 5px 9px 20px;
  border: 1px solid rgb(255 255 255);
}
.banner{
  border-top: 2px solid #b80000;
  box-shadow: 2px 0px 8px -1px #b3adad;
  border-radius: 1%;
}
.banner .list-group-item svg{
  color: #b80000;
  margin-right: 10px;
}
.brands .img-thumbnail {
  padding: 1.25rem;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  margin-bottom: 10px;
}
.card-body button{
  width: 100%;
  background-color: #b80000;
  border: none;
}
.card-title{
  color: #b80000;
}
.products .card img{
  padding: 30px;
}
@media (min-width: 1200px){
  .container {
      max-width: 1420px;
  }
}
.block-title{
  width: 100%;
  border-bottom: 1px solid #b80000;
  margin:30px 0;
  padding-bottom: 5px;
  padding: 0;
}
.products{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 0.75rem;
  padding: 0;
}
.brands,.categories{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 0.25rem;
  padding: 0;
}
body{
  background-color: #f6f6f6;
}
.header-top{
  background-color: #f6f6f6 ;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
nav{
  background-color: #b80000;
}
.header-top h3{
  color: #b80000;
}
.products .card{
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  border: none;
}
.products .card:hover {
  box-shadow: 0 17px 25px rgb(0 0 0 / 13%);
  transform: translateY(-4px);
}
.info{
  line-height: 2;
  font-size: 18px;
}
.btn-outline-secondary {
  color: #ffffff;
  border-color: #b80000;
  background: #b80000;
  border-radius: 0;
} 
.card-body .btn-primary:hover {
  color: #fff;
  background-color: #b80000;
  border-color: #b80000;
}
.form-control{
  border: 2px solid #b80000;
}
svg.svg-inline--fa.fa-cart-plus.fa-w-18 {
  margin-right: 10px;
  color: #b80000;
  font-size: 25px;
}
.cat-list{
  text-align: center;
}
.cat-list img{
  width: 40%;
  border-radius: 50%;
}
.block-categories{
  background-color: #b80000;
  color: #ffffff;
}
.cat-list .btn-outline-primary {
  color: #ffffff;
  border-color: #ffffff;
}
.cat-list .btn-outline-primary:hover {
  color: #fff;
  background-color: #b80000;
  border-color: #ffffff;
}
.cat-title{
  text-align: center;
}
.cat-title::after {
  content: "";
  border-bottom: 1px solid #fff;
  display: block;
  margin: 10px auto 0;
  width: 20%;
}
.cat-list:hover{
  background: 0;
  border-radius: 3px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 17px 25px rgb(0 0 0 / 13%);
  padding: 20px;
}
.footer-block{
  background-color: #ffffff;
}
.footer-block .list-group-item{
  padding-left: 0;
  padding-right: 0;
}
.copyright{
  background-color: #b80000;
  color: #ffffff;
  text-align:center;
} 
.sale-item{
  background-color: #b80000;
  color: #ffffff;
  position: absolute;
  top:0;
  right: 0;
  padding: 0 0.75rem;
  margin-top: 0.95em;
  min-width: 4rem;
  text-align: center;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
}

.dropright .dropdown-toggle:after { display: inline-block; margin-left: 0.255em ; vertical-align: 0.255em ; content: ""; border-top: 0.3em solid transparent; border-right: 0; border-bottom: 0.3em solid transparent; border-left: 0.3em solid; }
.dropright .dropdown-toggle:after {
  margin-left: 12.255em;
}
button#dropdown-button-drop-right {
  text-align: right;
}
button#dropdown-button-drop-right {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 0;
}
.banner .show>.btn-secondary.dropdown-toggle:focus,.banner .btn-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}
.dashed-price {
  display: block;
  text-decoration: line-through;
  margin-top: 0.5em;
  color: #9e9e9e;
  font-size: 1.125rem;
}
.sale-price {
  display: flex;
  justify-content: space-between;
}
span.price,.discount-price {
  font-size: 18px;
  font-weight: 600;
}
.discount-price{
  color: #b80000;
}